$aquamarine-blue: #76dfe3;
$turquoise: #3dcfd4;

.logo-canvas {
  border: 1px solid red;
  list-style: none;
  height: 450px;
  margin-top: 100px;
  padding: 0;
  position: relative;
  width: 318px;
}

.trapeze-container {
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.3s linear;
  width: 0;
}

.trapeze-container-1 {
  left: 0;
  top: 0;
  .trapeze {
    transform: rotate(-30deg);
  }
}

.trapeze-container-2 {
  left: 0;
  top: 0;
  transform: rotateY(180deg);
  transform-origin: 159px 0;
  .trapeze {
    transform: rotate(-30deg);
  }
}

.trapeze-container-3 {
  right: 189px;
  top: 75px;
  transform: rotate(60deg) rotateY(180deg);
  transform-origin: 159px 0;
  z-index: 5;
  .trapeze {
    transform: rotate(-30deg);
  }
}

.trapeze-container-4 {
  right: 189px;
  top: 223px;
  transform-origin: 159px 0;
  transform: rotate(120deg) rotateY(180deg);
  .trapeze {
    transform: rotate(-30deg);
  }
}

.trapeze {
  border-top: 80px solid;
  border-left: 46px solid transparent;
  border-right: 46px solid transparent;
  height: 0;
  width: 100px;
}

.trapeze-aquamarine-blue {
  border-top-color: $aquamarine-blue;
}

.trapeze-turquoise {
  border-top-color: $turquoise;
}
